[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #29ca8e;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.test-content{
	border: 2px solid #00bf96;
	border-radius: 20px;
	padding: 25px;
	margin-bottom: 20px;
	background-color: white;
}
.question-content{
	border-bottom: 2px solid #29ca8e;
}


h1{ 
  color: #396; 
  font-weight: 100; 
  font-size: 40px; 
  margin: 40px 0px 20px; 
} 
 #clockdiv{ 
    padding: 3px;
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    background: #00bf96;
    border: 3px solid #00bf96;
    border-radius: 5px;
    text-align: right;
} 
#clockdiv > div{ 
    /*padding: 10px; */
    border-radius: 3px; 
    background: #00BF96; 
    display: inline-block; 
} 
#clockdiv div > span{ 
    /*padding: 15px; */
    border-radius: 3px;
    background: #00bf96;
    display: inline-block;
} 
/*.smalltext{ 
    padding-top: 5px; 
    font-size: 16px; 
} */

.clock{
	text-align: right;
}

.mark_result{
	color: orange; 
	border-bottom: 2px solid red;
	text-align: center;
}

.panel-success>.panel-heading {
    color: #fff;
    background-color: #29ca8e !important;
    border-color: #d6e9c6;
}
.panel-heading{
	text-align: center;
}
.content{
	background-color: #ecf0f1;
}
#button{
	text-align: center;
}